.modal {
  width: 480px;
  height: 560px;
  border-radius: 12px;
  background: #c2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 96px;
  height: 96px;
  margin-bottom: 8px;
}

.title {
  color: #004980;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;

  margin-bottom: 28px;
}

.description {
  color: #000;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: 10px;
}

.time {
  color: #000;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;

  margin-bottom: 40px;
}

.inputName {
  width: 276px;
  height: 45px;
  top: 334px;
  left: 374px;
  radius: 10px;
  margin-bottom: 12px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  padding-left: 8px;
  font-size: 16px;
}

.leaderBoard {
  margin: 18px 0px 40px 0px;
  font-size: 19px;
  font-family: StratosSkyeng;

  &:hover {
    color: rgb(0, 255, 0);
  }

  &::after {
    color: rgb(255, 0, 0);
  }
}

.container {
  display: flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
