.board {
  display: flex;
  flex-direction: column;

  gap: 15px;
}

.board_header {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-radius: 12px;
  background: rgb(255, 255, 255);
  color: rgb(153, 153, 153);
  font-feature-settings: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

.board_header div {
  font-feature-settings: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 24px;
}

.board_item {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  border-radius: 12px;
  background: rgb(255, 255, 255);
  color: rgb(3, 3, 3);
  font-feature-settings: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

.board_header div img {
  margin: 0px 4px 0px 4px;
}

.position {
  width: 178px;
}

.name {
  width: 324px;
}

.time {
  width: 102px;
}

.achievements {
  width: 300px;
}

.achievements img {
  margin: 0px 4px 0px 4px;
}

.achievements__hideImg {
  opacity: 0.3;
}
